  *{
  	font-family: Arial Rounded MT;
  	color: #000;
  }
  body{
  	background-color: #ffffe6;
  	overflow-x: hidden;
  }

  .mynavbar{
        justify-content:center;
  }
  .navbar{
  	background-color: #000;
  	padding: 10px;
  }
  #description {
  	padding-top:100px;
  	height:550px;
  	color: #000;
  	background : #ffffe6;
  	}
  #about {
  	padding-top:0px;
  	height:350px;
  	color: #fff;
  	background-color: #ffffe6;
        margin-bottom: 20px;
  	}
  #experience {
  	padding-top:0px;
  	height:auto;
  	color: #fff; 
  	background-color: #ffffe6;
  	margin-bottom: 100px;
  }
  #education{
  	padding-top:0px;
  	height:auto;
  	color: #fff; 
  	background-color: #ffffe6;
  	margin-bottom: 100px;
  }

  #contact{
	margin-bottom:50px;
  }
  
  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse
  .navbar-nav>.active>a:focus, .navbar-inverse 
  .navbar-nav>.active>a:hover{
  	color: orange;
  }

  .brand a{
    font-size: 20px;
  }

  .navbar-nav > li > a{
  	font-size: 15px;
  	font-weight:bolder;
  	color: #fff;
  }

  .navbar-nav > li{
  	padding-left: 10px; 
  }

  #prof-img{
  	width: 250px;
  	height: 250px;
  	border-radius: 50%;
  	border : 10px solid #000;
  	object-fit: cover;
  }

  #name{
  	font-size: 50px;
  	font-weight: bolder;
  	text-align: center;
  }
  
  #name-1{
  	text-align: center;
  	letter-spacing: 10px;
  	font-weight: bold;
  	color: darkgrey;
  }

  .heading-sec{
  	background: #000;
  	width: 100%;
  	height: 85px;
  	margin-bottom: 50px;
  }

  .heading-sec > h1{
  	padding-top: 15px;
  	text-align: center;
  	color: orange;
  	font-weight: bold;
  	font-size: 3.5em;
  }

  .para-1{
  	font-size: 25px;
  	color: #000;
  	margin-top: 25px;
  }

  .head-2{
  	color: #000;
  	font-weight: bold;
  	font-size: 30px;
  	border-left: 8px solid orange;
  }

  .exp-1{
  	background-color: #fff;
  	padding: 20px;
  	height: auto;
  	border-radius: 10px;
  	margin-bottom: 30px;
  }

  .exp-1 > h2{
  	font-size: 30px;
  	height: auto;
  	font-weight: bold;
  	color: orange;

  }

  .right-1{
  	color: grey!important;
  	font-style: italic;
  	font-size: 25px!important;
  }

  hr{
  	color: #000;
  	width: 100%;
  }

  #exp-head{
  	font-size: 25px;
  	font-weight: bold;
  	border-left: 8px solid orange;
  }

  #exp-head-1{
  	font-size: 20px;
  	font-weight: bold;
  }

  ul > li{
  	font-size: 20px;
  }

  .date-1{
  	color: grey;
  	font-size: 20px;
  	margin-top: 20px;
  }

  .html-heading{
  	font-size: 30px;
  	font-weight: bold;
  }

  #img-html{
  	width: 100px;
  	height: 100px;
  }

  #img-react{
  	width: 110px;
  	height: 100px;
  }

  .skills-heading-1{
  	font-weight: bold;
  	margin-left: 30px;
  }

  .skills-heading-2{
  	font-weight: bold;
  	margin-left: 40px;
  }

  #img-css{
  	width: 120px;
  	height: 120px;
  }

  #img-bootstrap{
  	width: 110px;
  	height: 120px;
  }

  #img-sass{
  	width: 100px;
  	height: 120px;
  }

  .css-heading{
  	font-size: 30px;
  	font-weight: bold;
  	padding-top: 50px;
  }

  .skills-head-1{
  	margin-left: 28px;
  	font-weight: bold;
  }

  .skills-head-2{
  	margin-left: 30px;
  	font-weight: bold;
  }

  .skills-head-3{
  	margin-left: 5px;
  	font-weight: bold;
  }

  #img-javascript{
  	width: 110px;
  	height: 100px;
  }

  #img-jquery{
  	width: 130px;
  	height: 100px;
  }

  .skills-js-1{
  	margin-left: 0px;
  	font-weight: bold;
  }

  .skills-js-2{
  	margin-left: 30px;
  	font-weight: bold;
  }

  .skills-js-3{
  	margin-left: 15px;
  	font-weight: bold;
  }

  #img-photoshop{
  	width: 100px;
  	height: 100px;
  }

  .skills-design-1{
  	margin-left: 0px;
  	font-weight: bold;
  }

  #img-adobe-xd{
  	width: 100px;
  	height: 100px;
  }

  .skills-design-2{
  	margin-left: 3px;
  	font-weight: bold;
  }

  .edu-part{
  	background-color:  #fff;
  	width: 75%;
  	padding: 20px;
  	border-radius: 10px;
  	justify-content: center;
  	transform: translateX(18%);
  }

  #clg-name{
  	font-weight: bold;
  	font-size: 30px;
  }

  #clg-place{
  	font-size: 25px;
  	color: grey;
  }

  #e-mail{
  	width: 90px;
  	height: 90px;
  	border-radius: 50%;
  	background-color: #fff;
  	box-shadow: 0px 0px 10px 10px orange;
	padding: 26px 30px 30px 28px;
	margin: 0px 30px;
  }

  #mail-icon{
  	font-size: 35px;
  	cursor: pointer;
  }

  #mail-icon:hover{
  	transform: scale(1.5);
  	animation: ease;
  	animation-delay: 5s;
  }

  #mail{
  	font-size: 25px;
  	color: #000;
  }

  #mail:hover{
  	color: orange;
  	text-decoration: none;
  }

  #linked-in{
  	width: 90px;
  	height: 90px;
  	border-radius: 50%;
  	background-color: #fff;
  	box-shadow: 0px 0px 10px 10px orange;
	padding: 27px 30px 30px 28px;
	margin: 0px 30px;
  }

  #linkedin{
  	font-size: 25px;
  	color: #000;
  }

  #linkedin-icon{
  	font-size: 40px;
  	cursor: pointer;
  }

   #phone{
  	width: 90px;
  	height: 90px;
  	border-radius: 50%;
  	background-color: #fff;
  	box-shadow: 0px 0px 10px 10px orange;
	padding: 29px 30px 30px 31px;
	margin: 0px 30px;
  }

  #calling{
  	font-size: 25px;
  	color: #000;
  }

  #call-icon{
  	font-size: 35px;
  	cursor: pointer;
  }

   #whatsapp{
  	width: 90px;
  	height: 90px;
  	border-radius: 50%;
  	background-color: #fff;
  	box-shadow: 0px 0px 10px 10px orange;
	padding:28px 30px 30px 29px;
	margin: 0px 0px 0px 30px;
  }

  #wapp{
	font-size: 25px;
	color: #000;
  }

  #wapp-icon{
	font-size: 38px;
	cursor: pointer;
}

  #staticText{
	font-size: 2rem;
	line-height: 1;
	font-weight: 100;
  }
  
  
  #typeline {
	font-size: 4rem;
	line-height: 1.2;
	color: rgb(77, 77, 80);
	
  }
  
  @keyframes blink-caret { 50% { border-color: transparent; } }
  em {
	  border-right: .1em solid black;
	  width: 20ch;
	  white-space: nowrap;
	  overflow: hidden;
		margin-top: 0;
		color: #3295dd;
	  animation: typing 3s steps(21, end),
	  blink-caret .5s step-end infinite alternate;
  }

 

  #banner-img-1{
	  width: 1130px;
	  height: 600px;
	 
	  	 
  }

  #banner-img-2{
	width: 1130px;
	height: 600px;

  }

  #banner-img-3{
	width: 1130px;
	height: 600px; 

  }

  #banner-img-4{
	width: 1130px;
	height: 600px; 
	
  }

  #banner-img-5{
  width: 1130px;
  height: 600px; 
  
  }

  #banner-img-6{
  width: 1130px;
  height: 600px; 
  
  }

 .proj-1{
	  padding : 10px;
  }

.proj-2{
	  padding : 10px;
	  background-color: #fff;
  }

.proj-3{
	  padding : 10px;
	  background-color: #fff;
  }

 .proj-4{
	  
	  padding : 10px;
  }



  .proj-1 > h4{
	  background-color: rgb(245, 194, 194);
  }


  @media(max-width: 767px){

  ul > li{
  	font-size: 15px;
  }
  #description {
  	padding-top:100px;
  	height:400px;
  	color: #000;
  	background : #ffffe6;
  	}
  #prof-img{
  	width: 170px;
  	height: 170px;
  	border-radius: 50%;
  	border : 10px solid #000;
  	object-fit: cover;
  }
  #name{
  	font-size: 30px;
  	font-weight: bolder;
  	text-align: center;
  }
  
  #name-1{
  	text-align: center;
  	letter-spacing: 5px;
  	font-weight: bold;
  	color: darkgrey;
  	font-size: 15px;
  }

  .heading-sec{
  	background: #000;
  	width: 100%;
  	height: 60px;
  	margin-bottom: 50px;
  }

  .heading-sec > h1{
  	padding-top: 12px;
  	text-align: center;
  	color: orange;
  	font-weight: bold;
  	font-size: 2em;
  }

   .para-1{
  	font-size: 15px;
  	color: #000;
  	margin-top: 25px;
  }

  .head-2{
  	color: #000;
  	font-weight: bold;
  	font-size: 20px;
  	border-left: 5px solid orange;
  }

  .exp-1{
  	background-color: #fff;
  	padding: 20px;
  	height: auto;
  	border-radius: 10px;
  	margin-bottom: 30px;
  }

  .exp-1 > h2{
  	font-size: 20px;
  	height: auto;
  	font-weight: bold;
  	color: orange;

  }

  .right-1{
  	color: grey!important;
  	font-style: italic;
  	font-size: 10px!important;
  	float: right;
  }

  .date-1{
  	color: grey;
  	font-size: 12px;
  	margin-top: 20px;
  }

   #exp-head{
  	font-size: 18px;
  	font-weight: bold;
  	border-left: 8px solid orange;
  }

   .html-heading{
  	font-size: 20px;
  	font-weight: bold;
  }

  #img-html{
  	width: 60px;
  	height: 60px;
  }

  #img-react{
  	width: 70px;
  	height: 60px;
  	margin-left: 20px;
  }

  .skills-heading-1{
  	font-weight: bold;
  	margin-left: 12px;
  	font-size: 15px;
  }

  .skills-heading-2{
  	font-weight: bold;
  	margin-left: 38px;
  	font-size: 15px;
  }

  #img-css{
  	width: 60px;
  	height: 60px;
  }

  #img-bootstrap{
  	width: 60px;
  	height: 60px;
  	margin-left: 10px;
  }

  #img-sass{
  	width: 60px;
  	height: 60px;
  }

  .css-heading{
  	font-size: 20px;
  	font-weight: bold;
  	padding-top: 50px;
  }

  .skills-head-1{
  	margin-left: 5px;
  	font-weight: bold;
  	font-size: 15px
  }

  .skills-head-2{
  	margin-left: 7px;
  	font-weight: bold;
  	font-size: 15px
  }

  .skills-head-3{
  	margin-left: 0px;
  	font-weight: bold;
  	font-size: 15px
  }

   #img-javascript{
  	width: 60px;
  	height: 60px;
  	margin-left: 15px;
  }

  #img-jquery{
  	width: 70px;
  	height: 60px;
  }

  .skills-js-1{
  	margin-left: 0px;
  	font-weight: bold;
  	font-size: 15px;
  }

  .skills-js-2{
  	margin-left: 5px;
  	font-weight: bold;
  	font-size: 15px;
  }

  .skills-js-3{
  	margin-left: 22px;
  	font-weight: bold;
  	font-size: 15px;
  }

  #img-photoshop{
  	width: 60px;
  	height: 60px;
  	margin-left: 12px;
  }

  .skills-design-1{
  	margin-left: 0px;
  	font-weight: bold;
  	font-size: 15px;
  }

   .img-illustrator {
    width: 50px;
    height: 48px;
    margin-left: 7px;
    margin-top: 6px;
    margin-bottom: 7px;
}
   .img-after-effects{
	    width: 50px;
    height: 50px;
    margin: 12px 0px 1px 17px;
}	  
}

  .skills-design-2{
  	margin-left: 0px;
  	font-weight: bold;
  	font-size: 15px;
  }

  .edu-part{
  	background-color:  #fff;
  	width: 100%;
  	padding: 20px;
  	border-radius: 10px;
  	transform: translateX(0%);
  }

  #clg-name{
  	font-weight: bold;
  	font-size: 18px;
  }

  #clg-place{
  	font-size: 15px;
  	color: grey;
  }

  #e-mail{
  	width: 60px;
  	height: 60px;
  	border-radius: 50%;
  	background-color: #000;
  	box-shadow: 0px 0px 10px 10px orange;
	padding: 13px 15px 15px 18px;
	margin: 0px 0px 0px 30px;
  }

  #mail-icon{
  	font-size: 25px;
  	cursor: pointer;
  }

  #mail-icon:hover{
  	transform: scale(1.5);
  	animation: ease;
  	animation-delay: 5s;
  }

  #mail{
  	font-size: 25px;
  	color: #000;
  }

  #mail:hover{
  	color: orange;
  	text-decoration: none;
  }

  #linked-in{
  	width: 60px;
  	height: 60px;
  	border-radius: 50%;
  	background-color: #000;
  	box-shadow: 0px 0px 10px 10px orange;
	padding:14px 15px 15px 20px;
	margin: 0px 20px 0px 130px;
  }

  #linkedin{
  	font-size: 25px;
  	color: #000;
  }

  #linkedin-icon{
  	font-size: 25px;
  	cursor: pointer;
  }

  #phone{
  	width: 60px;
  	height: 60px;
  	border-radius: 50%;
  	background-color: #000;
  	box-shadow: 0px 0px 10px 10px orange;
	padding:14px 15px 15px 20px;
	margin: 30px 30px;
  }

  #calling{
  	font-size: 25px;
  	color: #000;
  }

  #call-icon{
  	font-size: 25px;
  	cursor: pointer;
  }

  #whatsapp{
  	width: 60px;
  	height: 60px;
  	border-radius: 50%;
  	background-color: #000;
  	box-shadow: 0px 0px 10px 10px orange;
	padding:13px 15px 15px 18px;
	margin: 30px 0px 0px 100px;
  }
  #typeline {
	font-size: 2.5rem;
	line-height: 1.2;
	color: rgb(77, 77, 80);
	
  }

 
}




  
